@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}


body{
    font-family: 'Inter',sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navsec{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navsec header{
    padding: 15px;
    max-width: 1100px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.studysync img{
    width: 30px;
    height: 25px;
}
span{
    font-size: 30px;
    font-weight: 1000;
}
.nav_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_contact nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.nav_contact nav a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transform: color 2.0s;
}
.nav_contact nav a:hover{
    color: var(--primary-color);
}
.my_btn_nav{
    display: none;
}
header .contactus{
    display: flex;
    flex-direction: row;
    
}
.contactus{
    width: 230px;
    padding: 15px ;
    background-color: var(--primary-color);
    border-radius: 5px;
}
header .contactus a{
    text-decoration: none;
    color: var(--background-color);
    
}
@media  Screen and (max-width:800px){
    .navsec {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }
    .my_btn_nav{
        display: flex;
        width: 30px;
        height: 30px;
    }
    .nav_contact, .contactus a,header .contactus{
        display: none;
    }
    .Hamburger_img{
        width: 30px;
        height: 30px;
    }
    .navsec header{
   
     width: 600px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }
    .herosection .herotext{
        min-height: 400px;
    }
    .herosection .heroimg{
        min-height: 500px;
    }
} 

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.herosection{
    /* max-width: 1000px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 550px;
    /* border: 2px solid black; */
    
}
.herosection .heroimg img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.herosection .heroimg{
    width: 500px;
    height: 500px;
    /* border: 2px solid black; */
}
.herosection .herotext{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 25px;
    min-width: 500px;
    min-height: 500px;
    animation: slideFromLeft 2s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.herosection .herotext .txt3_div{
    width: 100%;
    font-size: 0.97rem;
}
.herosection .herotext #txt1{
    color: var(--primary-color);
    font-weight: 600;
}
.herosection .herotext #txt2{
    font-size: 3rem;
    font-weight: bold;
    color: black;
}
.herosection .herotext .herobtn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
}
.herosection .herotext .herobtn .start_btn{
    width: 110px;
    padding: 15px ;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.herosection .herotext .herobtn .take_tour_btn{
    width: 110px;
    padding: 15px ;
    background-color: var(--text-color);
    border-radius: 5px;
}
.herosection .herotext .herobtn .take_tour_btn a{
    text-decoration: none;
    color: var(--background-color);
}
.herosection .herotext .herobtn .start_btn a{
    text-decoration: none;
    color: var(--background-color);
}
.tran_section{
    width: 100%;
    /* border: 2px solid rgb(222, 18, 18); */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;  
    animation: slideFromLeft 2s ease forwards;
    opacity: 0;
    min-height: 100px;
}
.tran_text{
    width: 350px;
    /* border: 2px solid black; */
    
}
.tran_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}
.tran_img .img{
    width: 600px;
    height: 80px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    /* border: 2px solid black; */
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}
.tran_img .img img{
    width: 30px;
    height: 30px;
}
.google, .microsoft, .linkedin, .vectoredu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 30px;
}
.google p, .microsoft p, .linkedin p, .vectoredu p{
    font-size: 1.0rem;
    color: var(--gray);
    font-weight: 500;
    padding-left:10px ;
}
.card_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--light-gray);
}
.card{
    width: 900px;
    display: grid;
    /* border: 2px solid black; */
    box-sizing: border-box;
    grid-template-areas: 
    "head_card head_card"
    "card1 card2"
    "card3 card4"
    "card5 card6";
    row-gap: 40px;
    justify-content: center;

    
}
.h1_heading_card{
    padding-top: 20px;
    height: 70px;
}
#head_card{
   grid-area: head_card;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
#card1{
    grid-area: card1;
    background-color: #4a90e2;
}
#card2{
    grid-area: card2;
    background-color: #fcbf58;
}
#card3{
    grid-area: card3;
    background-color: #77b05d;
}
#card4{
    grid-area: card4;
    background-color: #FF6289;
}
#card5{
    grid-area: card5;
    background-color: #44bfc3;
}
#card6{
    grid-area: card6;
     background-color: #7d78b1;
}
.cards{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    
}

.cards img{
    width: 50px;
    height: 50px;
    
}
.image{
    min-height: 60px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}
.heading_cards{
    min-height: 30px;
}
.content_cards{
    width: 250px;
}
@media  Screen and (min-width:500px) and (max-width:900px)  {
    .card_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--light-gray);
}
    .card{
    width: 400px;
    display: grid;
    grid-template-areas: 
    "head_card"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6";
    row-gap: 40px;
    justify-content: center;
    }
    .h1_heading_card{
    padding-top: 20px;
    height: 100px;
}
}
.testimoni_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    text-align: center;
}
.testimoni_section pre{
    font-family: sans-serif;
}
.test{
    width: 400px;
    height: 200px;
    border: 2px solid rgb(139, 116, 223);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 5px;
    transition: transform 0.5s ease;
}
.test:hover{
    transform: scale(1.05,1.05);
    
}
.test_img img{
    width: 50px;
    height: 50px;
}
.test_name h5{
    font-size: large;
    color: var(--primary-color);
}
@media screen and (min-width: 400px) and (max-width:700px){
    .testimoni_section{
         min-height: 900px;
    }
}
