@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}


body{
    font-family: 'Inter',sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navsec{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navsec header{
    padding: 15px;
    max-width: 1100px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.studysync img{
    width: 30px;
    height: 25px;
}
span{
    font-size: 30px;
    font-weight: 1000;
}
.nav_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav_contact nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
.nav_contact nav a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transform: color 2.0s;
}
.nav_contact nav a:hover{
    color: var(--primary-color);
}
.my_btn_nav{
    display: none;
}
header .contactus{
    display: flex;
    flex-direction: row;
    
}
.contactus{
    width: 230px;
    padding: 15px ;
    background-color: var(--primary-color);
    border-radius: 5px;
}
header .contactus a{
    text-decoration: none;
    color: var(--background-color);
    
}
@media  Screen and (max-width:800px){
    .navsec {
        width: 100%;
        flex-direction: row;
        justify-content: flex-end;
    }
    .my_btn_nav{
        display: flex;
        width: 30px;
        height: 30px;
    }
    .nav_contact, .contactus a,header .contactus{
        display: none;
    }
    .Hamburger_img{
        width: 30px;
        height: 30px;
    }
    .navsec header{
   
     width: 600px;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   }
    .herosection .herotext{
        min-height: 400px;
    }
    .herosection .heroimg{
        min-height: 500px;
    }
} 

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.herosection{
    /* max-width: 1000px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    min-height: 550px;
    /* border: 2px solid black; */
    
}
.herosection .heroimg img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.herosection .heroimg{
    width: 500px;
    height: 500px;
    /* border: 2px solid black; */
}
.herosection .herotext{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    gap: 25px;
    min-width: 500px;
    min-height: 500px;
    animation: slideFromLeft 2s ease forwards;
    opacity: 0;
}
@keyframes slideFromLeft {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.herosection .herotext .txt3_div{
    width: 100%;
    font-size: 0.97rem;
}
.herosection .herotext #txt1{
    color: var(--primary-color);
    font-weight: 600;
}
.herosection .herotext #txt2{
    font-size: 3rem;
    font-weight: bold;
    color: black;
}
.herosection .herotext .herobtn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 10px;
}
.herosection .herotext .herobtn .start_btn{
    width: 110px;
    padding: 15px ;
    background-color: var(--primary-color);
    border-radius: 5px;
}
.herosection .herotext .herobtn .take_tour_btn{
    width: 110px;
    padding: 15px ;
    background-color: var(--text-color);
    border-radius: 5px;
}
.herosection .herotext .herobtn .take_tour_btn a{
    text-decoration: none;
    color: var(--background-color);
}
.herosection .herotext .herobtn .start_btn a{
    text-decoration: none;
    color: var(--background-color);
}
.tran_section{
    width: 100%;
    /* border: 2px solid rgb(222, 18, 18); */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;  
    animation: slideFromLeft 2s ease forwards;
    opacity: 0;
    min-height: 100px;
}
.tran_text{
    width: 350px;
    /* border: 2px solid black; */
    
}
.tran_img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
}
.tran_img .img{
    width: 600px;
    height: 80px;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    /* border: 2px solid black; */
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
}
.tran_img .img img{
    width: 30px;
    height: 30px;
}
.google, .microsoft, .linkedin, .vectoredu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 30px;
}
.google p, .microsoft p, .linkedin p, .vectoredu p{
    font-size: 1.0rem;
    color: var(--gray);
    font-weight: 500;
    padding-left:10px ;
}
.card_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--light-gray);
    min-height: 1100px;
}
.card{
    width: 900px;
    display: grid;
    /* border: 2px solid black; */
    box-sizing: border-box;
    grid-template-areas: 
    "head_card head_card"
    "card1 card2"
    "card3 card4"
    "card5 card6";
    
    justify-content: center;

    
}
.h1_heading_card{
    padding-top: 20px;
    height: 70px;
}
#head_card{
   grid-area: head_card;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
#card1{
    grid-area: card1;
    background-color: #4a90e2;
}
#card2{
    grid-area: card2;
    background-color: #fcbf58;
}
#card3{
    grid-area: card3;
    background-color: #77b05d;
}
#card4{
    grid-area: card4;
    background-color: #FF6289;
}
#card5{
    grid-area: card5;
    background-color: #44bfc3;
}
#card6{
    grid-area: card6;
     background-color: #7d78b1;
}
.cards{
    width: 400px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    
}

.cards img{
    width: 50px;
    height: 50px;
    
}
.image{
    min-height: 60px;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
}
.heading_cards{
    min-height: 30px;
}
.content_cards{
    width: 250px;
}
@media  Screen and (min-width:400px) and (max-width:900px)  {
    .card_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--light-gray);
    
}
    .card{
    width: 400px;
    display: grid;
    grid-template-areas: 
    "head_card"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6";
    min-height: 2000px;
    justify-content: center;
    }
    .h1_heading_card{
    padding-top: 20px;
    height: 100px;
}
}
.testimoni{
    min-height: 45vh;
}
.testimoni_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    text-align: center;
    min-height: 290px;
}

.test{
    width: 320px;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border-radius: 5px;
    transition: transform 0.5s ease;
    border: 2px solid var(--light-gray);

}
.test:hover{
    transform: scale(1.05,1.05);
    border: 2px solid rgb(139, 116, 223);
}
.test_img img{
    width: 60px;
    height: 60px;
}
.test_name h5{
    font-size: large;
    color: var(--link-color);
}
@media screen and (min-width: 400px) and (max-width: 800px){
    .testimoni_section{
        min-width: 400px;
         min-height: 900px;
    }
}
.newsletter{
    min-height: 48vh;
}
.newsletter_section{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 2px solid var(--dark-gray); */
    min-height: 40vh;
}
.news_left{
    width: 540px;
    min-height: 40vh;
    position: relative;
    border-radius: 5px;
}
.news_left img{
    position: absolute;
    inset: 0;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.news_right{
    width: 540px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    padding: 40px;
    background-color: var(--light-gray);
    border-radius: 5px;
}
.news_h1 h1{
    color: var(--link-color);
}
.news_txt p{
    color: var(--dark-gray);
    font-size: 1.2rem;
    font-weight: 500;
}
.news_input{
    
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.news_input input{
    width: 50%;
    height: 40px;
    padding: 10px;
    color: var(--dark-gray);
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid var(--dark-gray);
    border-radius: 5px;
}
.news_input button{
    width: 20%;
    height: 40px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid var(--link-color);
    background-color: var(--link-color);
    color: var(--background-color);
}
.news_policy p{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--dark-gray);
}
.news_policy a{
    text-decoration: underline;
    color: var(--link-color);
}
@media screen and (min-width:400px) and (max-width:800px){
    .newsletter_section{
        width: 100%;
        flex-direction: column;
        min-height: 50vh;
    }
    .news_right{
        width: 100%;
        min-height: 50vh;
    }
    .news_left{
        width: 0%;
        min-height: 0%;
    }
}
.footer-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-class{
    width: 80%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
    
}
.footer-left{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo-text{
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--dark-gray);
}
.logo-img img{
    width: 20px;
    height: 20px;
}
.logo-img{
    display: flex;
    flex-direction: row;
     align-items: center;
     gap: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}


.social-link {
    margin: 5px;
}

.social-icon{
    width: 20px;
    height: 20px;
}
.footer-right{
    width: 67%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    

}
.column-heading{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--text-color);
}
.coulmn-list{
    list-style: none;
    gap: 30px;
    
}
.coulmn-list li{
    margin-top: 2rem;
}
.coulmn-list li a{
    text-decoration: none;
    color: var(--dark-gray);
    font-weight: 200px;
    font-size: 1rem;
}
.coulmn-list li a:hover{
    color: var(--link-color);
}
.footer-text{
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-gray);
    border-top: 2px solid var(--light-gray);
    text-align: center;
    margin-top: 10px;
    padding: 10px 0px;
}
@media screen and (max-width:1080px){
    .footer-class{
        display: flex;
    flex-direction: column;
    align-items: center; 
    
    }
    .footer-left{
        width: 50%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}
@media screen and (max-width:800px){
     .footer-right{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
     }
     .column-heading{
        margin-top: 10px;
     }
     .footer-left{
        margin-top: 25px;
     }
}

